<div id="data_set_title">
    <ul>
        <li class="gray detail">Decision</li>
        <li class="information"><%= @decision.name %></li>
        <li class="gray access">Datasets Covered</li>
    </ul>
</div>

<a id="resize_map"></a>	
<div id="data_set_content">
    <div class="content_left">
        <ul>
            <li class="detail first">
                <p>Summary</p>
            </li>
            <li class="information">
                <p><%= RedCloth.new(@decision.description).to_html %></p>
            </li>
        </ul>
        <ul>
            <li class="detail first">
                <p>Established</p>
            </li>
            <li class="information">
                <p>
                  <% if @decision.established.present? %>
                    <%= RedCloth.new(@decision.established).to_html %>
                  <% end %>
                </p>
            </li>
        </ul>
        <ul>
            <li class="detail first">
                <p>Key Points</p>
            </li>
            <li class="information">
                <p>
                  <% if @decision.key_points.present? %>
                    <%= RedCloth.new(@decision.key_points).to_html %>
                  <% end %>
                </p>
            </li>
        </ul>
        <ul>
            <li class="detail first">
                <p>Links</p>
            </li>
            <li class="information">
                <p>
                  <% if @decision.links.present? %>
                    <%= RedCloth.new(@decision.links).to_html %>
                  <% end %>
                </p>
            </li>
        </ul>
        <% unless @decision.categories.empty? %>
          <ul>
              <li class="detail">
                  <p>Categories</p>
              </li>
              <li class="information">
                  <ul>
                  <% @categories.each do |category|%>
                      <li><h4><%=h category.name %></h4> (<%=h category.identifier %>)</li>
                  <% end %>
                  </ul>
              </li>
          </ul>
        <% end %>
    </div>
    
    <div class="content_right">
        <div class="related_datasets">
            <ul class="links">
                <% @datasets.each do |dataset| %>
                  <li>
                    <%= link_to dataset.title, dataset %>
                  </li>
                <% end -%>
            </ul>
        </div>
    </div>
</div>	 
	

