<div class="span-16 datasets">
    <h2 style="font-size:30px;"><%= @decision.name %> </h2>
    
    <p><%= RedCloth.new(@decision.short_desc).to_html %></p>
    
    
    <h3>Full Description</h3>
    <p><%= RedCloth.new(@decision.description).to_html %></p>

    <% if @categories.size > 0 %>
      <h3>Categories</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Identifier</th>
          <th>Description</th>
        </tr>

      <% @categories.each do |category|%>
        <tr>
          <td><b><%=h category.name %></b></td>
          <td><%=h category.identifier %></td>
          <td><%=h category.description %></td>
        </tr>
      <% end %>
      </table>
    <% end %>
</div>	

<div class="span-7 last">
    <div class="about">
    <h3>Datasets under this decision</h3>
    <ul>
      <% @datasets.each do |dataset| %>
        <li>
          <h4><%= link_to dataset.title, dataset %></h4>
        </li>
      <% end %>
    </ul>
    </div>
</div>	 
	

