<script type='text/javascript'>
    var map;

    function init(){
        var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
            units: "m",
            maxResolution: 156543.0339,
            maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
                                             20037508.34, 20037508.34)
        };
        
        map = new OpenLayers.Map('map', options);

        // create Google Mercator layers
        var satellite = new OpenLayers.Layer.Google(
            "Google Streets",
            {
              'sphericalMercator': true,
              maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
              type: G_PHYSICAL_MAP
            }
        );
        

        /* WMS Layers*/
        <%
          display_layers = false if display_layers.nil?
          wmses = []
          i = 0

          datasets.each do |dataset|
            wmses << "wms_" + i.to_s 
            i = i+1
        %>
            /* <%= dataset.title %> */
            var <%= wmses.last %> = new OpenLayers.Layer.WMS("<%= dataset.title %>",
                    "<%= dataset.wms_server %>", 
                    {
                      layers: '<%= dataset.wms_name %>',
                      tiled: true,
                      transparent: true,
                      format: 'image/gif'
                    },
                    {
                      isBaseLayer: false,
                      visibility: <%= display_layers.to_s %>,
                      reproject: true
                    }
                );

        <% end %>

        map.addLayers([satellite,<%= wmses.join(',') %>]);

        map.setCenter(new OpenLayers.LonLat(0,10), 2);
        map.addControl( new OpenLayers.Control.LayerSwitcher() );
    }
</script>

<div id="map" class="smallmap" style="width:100%;height:400px"></div> 

