<% content_for :map_controls do %>
  <% display_layers = false if display_layers.nil? %>
  <div ng-controller="SearchCtrl">
    <h1>
      Displaying
      <%= (datasets.count == 1) ? 'one dataset' : 'all datasets' %>
    </h1>

    <!-- class="jScrollPaneContainer jScrollPaneScrollable" -->
    <div id="scrollable_databases" class="scroll-pane">
        <ul class="dataset-list">
          <% datasets.each_with_index do |dataset, i| %>
            <li class="type<%= dataset.id %> <%= 'first' if i ==0 %> <%= 'active' if display_layers %>">
                <div class="dataset-info" ng-click='toggleLayerVisibility("<%= dataset.title %>")'>
                  <%= link_to dataset.title, dataset_path(dataset.id), class: 'title' %>
                  <br/>
                  <%= dataset.creation_date %>
                  <%= dataset.data_categories %>
                  <%= dataset.format %>
                  <% if dataset.time_range || dataset.observation_type || dataset.data_provider %>
                    <i class="icon-angle-circled-right"></i>
                    <%= link_to '#', class: 'arrow arrow-more' do %>
                      <i class="icon-down-open"></i>
                      More
                    <% end %>
                    <%= link_to '#', class: 'arrow arrow-less' do %>
                      <i class="icon-up-open"></i>
                      Less
                    <% end %>
                    <div class="additional-info">
                      <%= dataset.time_range %>
                      <%= dataset.observation_type %>
                      <%= dataset.data_provider %>
                    </div>
                  <% end %>
                </div>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
<% end %>
