<% content_for :map_controls do %>
    <a id="showing_databases_down">
        <span class="tick up"></span>
        Showing <%= pluralize(datasets.count, 'dataset') %>
    </a>
        
    <div id="scrollable_databases" class="jScrollPaneContainer jScrollPaneScrollable">

        <ul id="list">
          <% datasets.each_with_index do |dataset, i| %>
            <li class="type<%= (i + 1)%9 %> <%= 'first' if i ==0 %>" onclick="toggleLayerVisibility(wms_<%= i %>)">
                <span class="check_box"></span>
                <p class="text"><%= dataset.title %></p>
            </li>
          <% end %>
        </ul>

    </div>
<% end %>

<script type='text/javascript'>

    function init(){

        /* WMS Layers*/
        <%
          display_layers = false if display_layers.nil?
          wmses = []

          datasets.each_with_index do |dataset, i|
            wmses << "wms_" + i.to_s 
        %>
            /* <%= dataset.title %> */
            <%= wmses.last %> = new OpenLayers.Layer.WMS("<%= dataset.title %>",
                    "<%= dataset.wms_server %>", 
                    {
                      layers: '<%= dataset.wms_name %>',
                      tiled: true,
                      transparent: true,
                      format: 'image/png'
                    },
                    {
                      transparent: true,
                      isBaseLayer: false,
                      wrapDateLine: true,
                      visibility: <%= display_layers.to_s %>
                    }
                );

        <% end %>

        map.addLayers([<%= wmses.join(',') %>]);
    }

    function toggleLayerVisibility(layer) {
      layer.setVisibility(!layer.getVisibility());
    }
</script>

<div id="map" class="smallmap" style="width:100%;height:400px"></div> 

