<% content_for :map_controls do %>
  <div ng-controller="SearchCtrl">
    <div class="search-results" ng-controller="DatasetsListingCtrl">
      <h1>Displaying all datasets</h1>

      <div id="scrollable_databases" class="scroll-pane">
        <ul class="dataset-list">
          <li ng-repeat="dataset in layers" ng-class="['type' + dataset.id, dataset.visible && 'active']">
              <div class="dataset-info" ng-click="toggleLayerVisibility(dataset)">
                <div>
                  <a ng-href="{{ dataset.url }}" ng-bind="dataset.title" class="title"></a>
                </div>
                <span ng-show="dataset.creationDate" ng-bind="dataset.creationDate"></span>
                <span ng-show="dataset.categoriesNames" ng-bind="dataset.categoriesNames" class="category prepend-pipe"></span>
                <div>
                  <span ng-show="dataset.format == 'polygon' || dataset.format == 'point' || dataset.format == 'raster'" ng-class="['capitalize', 'prepend-symbol', dataset.format]" ng-bind="dataset.format"></span>
                  <div ng-show="dataset.format == 'point & polygon'" class="capitalize">
                    <span class="prepend-symbol point">Point + </span><span class='prepend-symbol polygon'>Polygon</span>
                  </div>
                </div>
                <i class="icon-angle-circled-right"></i>
                <div ng-show="dataset.timeRange || dataset.observationType || dataset.dataProvider">
                  <a ng-click="toggleMoreInfo(dataset); $event.stopPropagation();" ng-class="['arrow', dataset.showingMore ? 'arrow-less' : 'arrow-more']">
                    <i ng-class="dataset.showingMore ? 'icon-up-open' : 'icon-down-open'"></i>
                    <span ng-bind="dataset.showingMore ? 'Less' : 'More'"></span>
                  </a>
                </div>
                <div ng-class="['additional-info', dataset.showingMore && 'visible']">
                  <span ng-show="dataset.timeRangeStart && dataset.timeRangeEnd">Time range: <span ng-bind="dataset.timeRange"></span></span>
                  <span class="prepend-pipe capitalize" ng-show="dataset.observationType" ng-bind="dataset.observationType"></span>
                  <div ng-show="dataset.dataProvider">Data provider: <span ng-bind="dataset.dataProvider"></span></div>
                  <div class="buttons">
                    <a ng-show="dataset.shpDownload" ng-href="{{ dataset.url + '#download' }}">
                      <i class='icon-download'></i>
                    </a>

                    <a ng-show="dataset.factsheetUrl" ng-href="{{ dataset.url + '#factsheet' }}">
                      <i class='icon-doc-text'></i>
                    </a>

                    <a ng-show="dataset.arcgisLink" ng-href="{{ dataset.arcgisLink }}" class="icon-esri"></a>
                  </div>
                </div> <!-- .additional-info -->
              </div>
          </li>
        </ul>
      </div>
    </div><!-- .search-results -->

    <div class="map-search">
      <h1 ng-show="!showingFilters" ng-click="showingFilters=!showingFilters" class="open-filters">
        <i class="icon-filter"></i>
        Filter
      </h1>
      <h1 ng-show="shouldShowResetButton()" ng-click="reset()" class="reset-filters">
        <i class="icon-cancel"></i>
        Reset active filters
      </h1>
      <h1 ng-class="['close-filters', showingFilters && 'visible']" ng-click="showingFilters=!showingFilters">
        <i class="icon-filter"></i>
        Dataset filters
        <i class="icon-angle-circled-left"></i>
      </h1>
      <div ng-class="['filters', showingFilters && 'visible']">
        <div class="filters-container">
          <%= form_for @search, url: '' do |f| %>
            <p>
              <%= f.label :sort_by, class: 'first first-level' %>
              <div ng-model="filters.sort_by" ng-click="toggleOptions()" class="filter-select">
                {{ filters.sort_by.text }}
                <i ng-class="showingOptions ? 'icon-angle-up' : 'icon-angle-down'"></i>
              </div>
              <div ng-class="['options', showingOptions && 'visible']">
                <div class="options-container">
                  <div data-value="{{option.id}}" ng-repeat="option in sortByOptions" ng-click="select(option); toggleOptions()" class="option">
                    {{ option.text }}
                  </div>
                </div>
              </div>
            </p>
            <p>
              <%= f.label :data_categories, 'Data category', class: 'first-level' %>
              <multi-selector model="filters.data_categories">
                <% data_categories.each do |dt| %>
                  <check-option model="<%= 'filters.data_categories["' + dt.id.to_s + '"]' %>" value="<%= dt.id %>"><%= dt.name %></check-option>
                <% end %>
              </multi-selector>
            </p>
            <p>
              <%= f.label :formats, 'Format', class: 'first-level' %>
              <multi-selector model="filters.formats">
                <% data_formats.each do |fo| %>
                  <check-option model="<%= 'filters.formats["' + fo.id.to_s + '"]' %>" value="<%= fo.id %>"><%= fo.name %></check-option>
                <% end %>
              </multi-selector>
            </p>
            <div ng-show="showingAdvanced">
              <p>
                <%= f.label :observation_types, 'Observation type', class: 'first-level' %>
                <multi-selector model="filters.observation_types">
                  <% observation_types.each do |ot| %>
                    <check-option model="<%= 'filters.observation_types["' + ot.id.to_s + '"]' %>" value="<%= ot.id %>"><%= ot.name %></check-option>
                  <% end %>
                </multi-selector>
              </p>
              <p>
                <%= f.label :geographical_ranges, 'Geographical range', class: 'first-level' %>
                <multi-selector model="filters.geographical_ranges">
                  <% geographical_ranges.each do |gr| %>
                    <check-option model="<%= 'filters.geographical_ranges["' + gr.id.to_s + '"]' %>" value="<%= gr.id %>"><%= gr.name %></check-option>
                  <% end %>
                </multi-selector>
              </p>
            </div>
            <button ng-hide="showingAdvanced" ng-click="showingAdvanced=!showingAdvanced" class="btn btn-white">Advanced filters</button>
            <br/>
            <button ng-click="doSearch()" class="btn">Search</button>
            <button ng-click="reset()" class="btn btn-white">Reset</button>
          <% end %>
        </div> <!-- .filters-container -->
      </div> <!-- .filters -->
    </div>
  </div><!-- SearchCtrl -->
<% end %>

<% content_for :body_class do %> big-map <% end %>
