<% content_for :map_controls do %>
  <div ng-controller="SearchCtrl">
    <div class="search-results" ng-controller="DatasetsListingCtrl">
      <h1>Displaying all datasets</h1>

      <div id="scrollable_databases" class="scroll-pane">
        <ul class="dataset-list">
          <li ng-repeat="dataset in layers" ng-class="['type' + dataset.id, dataset.visible && 'active']">
              <div class="dataset-info" ng-click="toggleLayerVisibility(dataset)">
                <div>
                  <a ng-href="{{ dataset.url }}" ng-bind="dataset.title" class="title"></a>
                </div>
                <span ng-show="dataset.creationDate" ng-bind="dataset.creationDate"></span>
                <span ng-show="dataset.categoriesNames" ng-bind="dataset.categoriesNames" class="category prepend-pipe"></span>
                <div>
                  <span ng-show="dataset.format == 'polygon' || dataset.format == 'point' || dataset.format == 'raster'" ng-class="['capitalize', 'prepend-symbol', dataset.format]" ng-bind="dataset.format"></span>
                  <div ng-show="dataset.format == 'point & polygon'" class="capitalize">
                    <span class="prepend-symbol point">Point + </span><span class='prepend-symbol polygon'>Polygon</span>
                  </div>
                </div>
                <i class="icon-angle-circled-right"></i>
                <div ng-show="dataset.timeRange || dataset.observationType || dataset.dataProvider">
                  <a ng-click="toggleMoreInfo(dataset); $event.stopPropagation();" ng-class="['arrow', dataset.showingMore ? 'arrow-less' : 'arrow-more']">
                    <i ng-class="dataset.showingMore ? 'icon-up-open' : 'icon-down-open'"></i>
                    <span ng-bind="dataset.showingMore ? 'Less' : 'More'"></span>
                  </a>
                </div>
                <div ng-class="['additional-info', dataset.showingMore && 'visible']">
                  <span ng-show="dataset.timeRangeStart && dataset.timeRangeEnd">Time range: <span ng-bind="dataset.timeRange"></span></span>
                  <span class="prepend-pipe capitalize" ng-show="dataset.observationType" ng-bind="dataset.observationType"></span>
                  <div ng-show="dataset.dataProvider">Data provider: <span ng-bind="dataset.dataProvider"></span></div>
                  <div class="buttons">
                    <a ng-show="dataset.shpDownload" ng-href="{{ dataset.url + '#download' }}">
                      <i class='icon-download'></i>
                    </a>

                    <a ng-show="dataset.factsheetUrl" ng-href="{{ dataset.url + '#factsheet' }}">
                      <i class='icon-doc-text'></i>
                    </a>

                    <a ng-show="dataset.arcgisLink" ng-href="{{ dataset.arcgisLink }}" class="icon-esri"></a>
                  </div>
                </div> <!-- .additional-info -->
              </div>
          </li>
        </ul>
      </div>
    </div><!-- .search-results -->

    <div class="map-search">
      <h1>
        <i class="icon-filter"></i>
        Dataset filters
      </h1>
      <div class="filters">
        <%= form_for @search, url: '' do |f| %>
          <p>
            <%= f.label :sort_by, class: 'first first-level' %>
            <select ng-model="filters.sort_by" ng-options="option.value as option.text for option in sortByOptions" class="filter-select"><i class="icon-angle-down"></i></select>
          </p>
          <p>
            <%= f.label :data_categories, 'Data category', class: 'first-level' %>
            <div class="filter-select">Any<i class="icon-angle-down"></i></div>
            <%= f.collection_check_boxes :data_categories, data_categories, :id, :name do |c| %>
              <% c.label { "#{c.text} #{c.check_box('ng-model' => 'filters.data_categories["' + c.value.to_s + '"]')}".html_safe } %>
            <% end %>
          </p>
          <p>
            <%= f.label :formats, 'Format', class: 'first-level' %>
            <div class="filter-select">Any<i class="icon-angle-down"></i></div>
            <%= f.collection_check_boxes :formats, data_formats, :id, :name  do |c| %>
              <% c.label { "#{c.text} #{c.check_box('ng-model' => 'filters.formats["' + c.value.to_s + '"]')}".html_safe } %>
            <% end %>
          </p>
          <p>
            <%= f.label :observation_types, 'Observation type', class: 'first-level' %>
            <div class="filter-select">Any<i class="icon-angle-down"></i></div>
            <%= f.collection_check_boxes :observation_types, observation_types, :id, :name do |c| %>
              <% c.label { "#{c.text} #{c.check_box('ng-model' => 'filters.observation_types["' + c.value.to_s + '"]')}".html_safe } %>
            <% end %>
          </p>
          <p>
            <%= f.label :geographical_ranges, 'Geographical range', class: 'first-level' %>
            <div class="filter-select">Any<i class="icon-angle-down"></i></div>
            <%= f.collection_check_boxes :geographical_ranges, geographical_ranges, :id, :name do |c| %>
              <% c.label { "#{c.text} #{c.check_box('ng-model' => 'filters.geographical_ranges["' + c.value.to_s + '"]')}".html_safe } %>
            <% end %>
          </p>
          <button class="btn btn-white">Advanced filters</button>
          <br/>
          <button ng-click="doSearch()" class="btn">Search</button>
          <button class="btn btn-white">Reset</button>
        </div> <!-- .filters -->
      <% end %>
    </div>
  </div><!-- SearchCtrl -->
<% end %>

<% content_for :body_class do %> big-map <% end %>
