<div ng-controller="ShowDatasetCtrl" ng-init="showDataset(<%= @dataset.id %>)" class="outer-container group">
    <div class="container">
        <div class="dataset-title">
            <ul>
                <li class="gray detail">Dataset detail</li>
                <li class="information"><%= @dataset.title %></li>
                <li class="gray access">Access</li>
            </ul>
        </div>

        <div class="dataset-content">
            <div class="content-left">
                <ul>
                    <li class="detail first">
                        <p>Description</p>
                    </li>
                    <li class="information <%= 'with-image' if @dataset.image.present? %>">
                        <p class="first"><%= RedCloth.new(@dataset.long_desc).to_html.html_safe %></p>
                    </li>
                    <% if @dataset.image.present? %>
                      <li class="image">
                        <%= image_tag @dataset.image.url %>
                      </li>
                    <% end %>
                </ul>
                <ul>
                    <li class="detail">
                        <p>Citation</p>
                    </li>
                    <li class="information">
                        <p class="first"><%= RedCloth.new(@dataset.metadata_description).to_html.html_safe %></p>
                    </li>
                </ul>
                <ul>
                    <li class="detail">
                        <p>Use constraints</p>
                    </li>
                    <li class="information">
                        <p class="first"><%= RedCloth.new(@dataset.licence_desc || '').to_html.html_safe %></p>
                    </li>
                </ul>
                <ul class="last">
                    <li class="detail">
                        <p>Policy Relevance</p>
                    </li>
                    <li class="information">
                        <ul>
                          <% @dataset.datasets_decisions.each do |datasets_decision| -%>
                            <li>
                              <% if datasets_decision.decision and datasets_decision.decision.name %>
                                <%= link_to datasets_decision.decision.name, datasets_decision.decision %>
                                <%= "(#{datasets_decision.try(:category).try(:name)})" if datasets_decision.category.present? %>
                              <% end %>
                            </li>
                          <% end -%>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- content-left -->
            <div class="content-right">
                <div class="dataset-box">
                    <div class="buttons">
                        <a name="download"></a>
                        <% if session["dataset_#{@dataset.id}"] == "agreed" -%>
                          <%= link_to "", @dataset.shp_download, :class=>"download" %>
                        <% elsif /(.*)protectedplanet\.net(.*)/.match @dataset.shp_download -%>
                          <%= link_to "ProtectedPlanet.net", @dataset.shp_download, :id => 'Download', :class => 'btn', :title => "Download this dataset at protectedplanet.net" %>
                        <% elsif /(.*)iobis\.org(.*)/.match @dataset.shp_download  -%>
                          <%= link_to image_tag('obis_logo.png'), @dataset.shp_download, :id => 'Download', :class => 'tipsy', :title => "Download this dataset at iobis.org" %>
                        <% elsif /(.*)ebsa_illustrations\.kml(.*)/.match @dataset.shp_download  -%>
                          <%= link_to "Download", @dataset.shp_download, :id => 'Download' , :rel => "", :class=>"btn" %>
                        <% elsif @dataset.shp_download == "" -%>
                          Sorry, there is no data available to download for this dataset
                        <% else -%>
                          <%= link_to @dataset.shp_download, :class=>"btn" do %> <i class="icon-download"></i> Download<% end %>
                        <% end -%>

                        <% if @dataset.factsheet.file? %>
                          <a name="factsheet"></a>
                          <%= link_to @dataset.factsheet.url, :class=>"btn", :target=> "_blank" do %><i class="icon-doc-text"></i> Metadata<% end %>
                        <% end %>

                        <% if @dataset.factsheet_url %>
                          <%= link_to @dataset.factsheet_url, class: 'btn', target: '_blank' do %><span class="icon-esri-white"></span> Factsheet<% end %>
                        <% end %>

                        <% if @dataset.arcgis_link.present? %>
                          <%= link_to @dataset.arcgis_link, :class=>"btn tipsy", :style => "padding: 0px", :target => '_blank', :title => 'Click here to view this dataset on Arcgis.com. To add other layers from Ocean Data Viewer, click the "Add" button and search for the dataset titles' do %> <span class="icon-esri-white"></span> ArcGIS<% end %>
                        <% end %>
                    </div>
                    <% if @dataset.has_legend? %>
                      <!--
                      <div class="last-date">
                          <h4>Legend</h4>
                          <%= image_tag "http://ec2-184-73-120-49.compute-1.amazonaws.com:8080/geoserver/wms/?SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&LAYER=#{@dataset.wms_name }&Format=image/png", :width => 200 %>
                      </div>
                      -->
                    <% end %>
                    <div class="last-date">
                        <h4>LAST PAGE UPDATE</h4>
                        <p class="date"><%= @dataset.updated_at.strftime('%d/%m/%y') %></p>
                    </div>
                </div>
            </div>  <!-- .content-right -->
        </div> <!-- .dataset-content -->
    </div> <!-- .container -->
</div> <!-- .outer-container -->

<% content_for :body_class do %> medium-map <% end %>
