<% content_for :map do%>
	<%= swf_tag "map", :height => 400 %>
<% end -%>

<div class="span-16 datasets">
	
	
	<h2 style="font-size:30px;"><%= @dataset.title %> <span class="quiet small" style="font-size:0.5em;">updated <%= @dataset.updated_at.to_date.to_s(:long)%></span></h2>
	
	<p><%= RedCloth.new(@dataset.long_desc).to_html %></p>
	
	
	<h3>Metadata description</h3>
	<p><%= RedCloth.new(@dataset.metadata_description).to_html %></p>
	
	<% if @dataset.html.file? || @dataset.xml.file? %>
	<div class="file_panel" style="padding:1em; background:#eee;">
		<h4 style="margin-bottom:0;">Metadata files</h4>
		<%= link_to "#{image_tag 'icons/page_white_world.png'} HTML metadata", @dataset.html.url, :class => "button positive" if @dataset.html.file?%>
		<%= link_to "#{image_tag 'icons/page_white_database.png'} XML metadata", @dataset.xml.url, :class => "button positive" if @dataset.xml.file? %>		
		<div style="clear:both;"></div>
	</div>
	<div style="clear:both;"></div>
	<% end -%>
        <% unless @dataset.shp_download.blank? %>
            <h3>Shapefile Preview</h3>
            <%= image_tag("shape-preview.png", :size => '815x406') %><br/>
        <% end %>
	
	<div class="data_panel">
		<h4>Data access available</h4>

		
		<% if session["dataset_#{@dataset.id}"] == "agreed" %>
                  <p>Thank you for your data request. <%= "We will contact you shortly."  %></p>

                  <%= link_to "Shapefile", @dataset.shp_download, :id => "tipsy", :title => "Download ESRI shapefile" if !@dataset.shp_download.blank? %>
  <!--		
                  <%= link_to "WFS", @dataset.wfs, :id => "tipsy", :title => "Access online WFS service" if !@dataset.wfs.blank? %>
                  <%= link_to "Metadata", @dataset.meta_download, :id => "tipsy", :title => "Download full metadata" if !@dataset.meta_download.blank? %>
  -->		
		<% else -%>
		
                  Please <%= link_to "register", "#registration", :rel => "facebox", :style=>"color:white;" %> to request access to this dataset.

                  <div id="registration" style="display:none;width:800px;">
                    <h1>New data access registrant</h1>

                    <% form_for([@dataset, @customer]) do |f| %>
                      <%= f.error_messages %>

                      <p>
                        <%= f.label :title %><br />
                    <%= f.select :title, [["Mr", "Mr"],["Mrs", "Mrs"],["Ms", "Ms"],["Miss", "Miss"],["Dr", "Dr"],["Prof", "Prof"]], {:include_blank => true} %>
                      </p>
                      <p>
                        <%= f.label :first_name %><br />
                        <%= f.text_field :first_name, :class => "text"%>
                      </p>
                      <p>
                        <%= f.label :last_name %><br />
                        <%= f.text_field :last_name,:class => "text" %>
                      </p>
                      <p>
                        <%= f.label :email %><br />
                        <%= f.text_field :email,:class => "text" %>
                      </p>
                      <p>
                        <%= f.label :institution %><br />
                        <%= f.text_area :institution,:class => "text" %>
                      </p>
                      <p>
                        <%= f.label :intended_use %><br />
                        <%= f.text_area :intended_use %>
                      </p>
                      <p>
                         If you are planning an analysis that either makes use of the dataset(s) in their entirety and/or is a global-scale analysis, you are required to notify UNEP-WCMC to explore the appropriateness of the analysis and the possibilities for collaboration, and to avoid duplication of effort. 
                      </p>
                      <p>
                        <%= f.label 'I agree to the data licence (' + link_to('click to read more',  @dataset.licence) + ')' %><br />
                        <%= f.check_box :licence_agreed %>
                      </p>
                      <p>
                        <%= f.submit 'Register' %>
                      </p>
                    <% end %>
                  </div>
		<% end -%>
	</div>
	
</div>	





<div class="span-7 last">
	<div class="about">
	<h3>Licence information</h3>
	<p>The <%= @dataset.title %> dataset is licenced under the <%= @dataset.licence.title %> licence.</p>
	
	<p><%= @dataset.licence.short_desc %></p>
	
	<p><%= link_to "Read more", @dataset.licence %> about this licence.</p>	
	</div>

	
</div>	 
	

