<% content_for :map do %>
  <%= render :partial => 'gmap', :locals => {:datasets => [@dataset], :display_layers => true}  %>
<% end -%>

<div id="data_set_title">
    <ul>
        <li class="gray detail">Dataset detail</li>
        <li class="information <%= (@dataset.title.size > 38)? 'two_lines' : '' %>"><%= @dataset.title %></li>
        <li class="gray access">Access</li>
    </ul>
</div>

<a id="resize_map"></a>	

<div id="data_set_content">
    <div class="content_left">
        <ul>
            <li class="detail first">
                <p>Description</p>
            </li>
			<li class="information">
                <p class="first"><%= RedCloth.new(@dataset.long_desc).to_html %></p>
            </li>
        </ul>
        <ul>
            <li class="detail">
                <p>Metadata description</p>
            </li>
            <li class="information">
                <p class="first"><%= RedCloth.new(@dataset.metadata_description).to_html %></p>
            </li>
        </ul>
        <ul>
            <li class="detail">
                <p>Licence</p>
            </li>
            <li class="information">
                <p>The <%= @dataset.title %> is licenced under the <%= @dataset.licence.title %> licence.</p>
                <p class="first"><%= RedCloth.new(@dataset.licence.short_desc).to_html %></p>
                <p> <%= link_to "Read more", licence_path(@dataset.licence) %> about this licence.</p>
            </li>
        </ul>
        <ul class="last">
            <li class="detail">
                <p>Decisions</p>
            </li>
            <li class="information">
                <ul>
                  <% @dataset.datasets_decisions.each do |datasets_decision| -%>
                    <li>
                      <%= link_to datasets_decision.decision.name, datasets_decision.decision %>
                      <%= "(#{datasets_decision.try(:category).try(:name)})" if datasets_decision.category.present? %>
                    </li>
                  <% end -%>
                </ul>
            </li>
        </ul>
        <span class="end_information"></span>
            
    </div>
    <!-- content_left -->
    <div class="content_right">
        <div class="data_set_box">
            <div class="buttons">
		<% if session["dataset_#{@dataset.id}"] == "agreed" -%>
                  <%= link_to "", @dataset.shp_download, :class=>"download" %>
                <% elsif @dataset.shp_download == "http://protectedplanet.net" -%>
                  <%= link_to image_tag('protected_planet_logo.png'), @dataset.shp_download %>
                <% else -%>
                  <%= link_to "", "#registration", :id => 'Download' , :rel => "facebox", :class=>"download" %>

                  <div id="registration" style="display:none;width:800px;">
                    <h1>New data access registrant</h1>

                    <% form_for([@dataset, @customer]) do |f| %>
                      <%= f.error_messages %>
                      <%= @customer.errors.collect { |c| puts c} %>

                      <p>
                        <%= f.label :title %><br />
                    <%= f.select :title, [["Mr", "Mr"],["Mrs", "Mrs"],["Ms", "Ms"],["Miss", "Miss"],["Dr", "Dr"],["Prof", "Prof"]], {:include_blank => true} %>
                      </p>
                      <p>
                        <%= f.label :first_name %><br />
                        <%= f.text_field :first_name, :class => "text"%>
                      </p>
                      <p>
                        <%= f.label :last_name %><br />
                        <%= f.text_field :last_name,:class => "text" %>
                      </p>
                      <p>
                        <%= f.label :email %><br />
                        <%= f.text_field :email,:class => "text" %>
                      </p>
                      <p>
                        <%= f.label :institution %><br />
                        <%= f.text_area :institution,:class => "text" %>
                      </p>
                      <p>
                        <%= f.label :intended_use %><br />
                        <%= f.text_area :intended_use %>
                      </p>
                      <p>
                         If you are planning an analysis that either makes use of the dataset(s) in their entirety and/or is a global-scale analysis, you are required to notify UNEP-WCMC to explore the appropriateness of the analysis and the possibilities for collaboration, and to avoid duplication of effort. 
                      </p>
                      <p>
                        <%= f.label 'I agree to the data licence (' + link_to('click to read more',  @dataset.licence, :target => "_blank") + ')' %><br />
                        <%= f.check_box :licence_agreed %>
                      </p>
                      <p>
                        <%= f.submit 'Register' %>
                      </p>
                    <% end %>
                  </div>
                <% end -%>
                <% if @dataset.arcgis_link.present? %>
                  <%= link_to "", @dataset.arcgis_link, :class=>"arcgis" %>
                <% end %>
            </div>
            <div class="last_date">
                <h4>LAST UPDATE</h4>
                <p class="date"><%= @dataset.updated_at.strftime('%d/%m/%y') %></p>						
            </div>
        </div>
    </div>  <!-- right -->
</div> <!-- data_set_content -->

