<h1>Listing licences</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% @licences.each do |licence| %>
  <tr>
    <td><%= licence.title %></td>
    <td><%= truncate(licence.body, lenght: 300) %></td>
    <td><%= link_to 'Show', [:admin,licence] %></td>
    <td><%= link_to 'Edit', edit_admin_licence_path(licence) %></td>
    <td><%= link_to 'Destroy', [:admin,licence], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New licence', new_admin_licence_path, :class=> "button" %>
