<h1>New licence</h1>

<%= form_for([:admin,@licence]) do |f| %>
  <% if @licence.errors.any? %>
    <ul>
      <% @licence.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

	<p>
    <%= f.label :short_desc %><br />
    <%= f.text_area :short_desc %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_licences_path, :class=> "button" %>
