<h1>Listing decisions for dataset '<%= @dataset.title %>'</h1>

<table>
  <tr>
    <th>Decision</th>
    <th>Category</th>
    <th>&nbsp;</th>
  </tr>

<% @datasets_decisions.each do |datasets_decision| %>
  <tr>
    <td><%= datasets_decision.decision.name %></td>
    <td><%= datasets_decision.category.try(:name) %></td>
    <td>
      <%= link_to 'Show', [:admin, datasets_decision] %>
      <%= link_to 'Edit', edit_admin_datasets_decision_path(datasets_decision) %>
      <%= link_to 'Destroy', [:admin,datasets_decision], :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New datasets_decision', new_admin_dataset_datasets_decision_path(@dataset), :class=> "button" %>
