<%= form_for([:admin, @dataset], :html => { :multipart => true }) do |f| %>
  <% if @dataset.errors.any? %>
    <ul>
      <% @dataset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, class: 'long-text' %>
  </p>

  <p>
    <%= f.label :order_number %><br />
    <%= f.text_field :order_number %>
  </p>

  <p>
    <%= f.label :short_desc %><br />
    <%= f.text_area :short_desc %>
  </p>

  <p>
    <%= f.label :long_desc %><br />
    <%= f.text_area :long_desc %>
  </p>

  <p>
    <%= f.label :metadata_description %><br />
    <%= f.text_area :metadata_description %>
  </p>

  <p>
    <%= f.label :creation_date %><br/>
    <%= f.text_field :creation_date, type: :date %>
  </p>

  <p class="options">
    <%= f.label :data_categories %><br/>
    <%= f.collection_check_boxes :data_category_ids, data_categories, :id, :name %>
  </p>

  <p class="options radio">
    <%= f.label :format, label: 'Data Format' %><br/>
    <% data_formats.each do |option| %>
      <%= f.radio_button :format, option %>
      <%= f.label :format, option.humanize, value: option %>
    <% end %>
  </p>

  <p class="options radio">
    <%= f.label :observation_type %><br/>
    <% observation_types.each do |option| %>
      <%= f.radio_button :observation_type, option %>
      <%= f.label :observation_type, option.humanize, value: option %>
    <% end %>
  </p>

  <p class="options radio">
    <%= f.label :geographical_range %><br/>
    <% geographical_ranges.each do |option| %>
      <%= f.radio_button :geographical_range, option %>
      <%= f.label :geographical_range, option.humanize, value: option %>
    <% end %>
  </p>

  <p>
    <%= f.label :metadata_html_file%><br/>
    <%= f.file_field :html%>
  </p>

  <p>
    <%= f.label :metadata_xml_file%><br/>
    <%= f.file_field :xml%>
  </p>

  <p>
    <%= f.label :factsheet_file %><br/>
    <%= f.file_field :factsheet %>
  </p>

  <p>
    <%= f.label :shp_download %><br />
    <%= f.text_field :shp_download, class: 'long-text' %>
  </p>

  <p>
    <%= f.label :arcgis_link %><br />
    <%= f.text_field :arcgis_link, class: 'long-text' %>
  </p>

  <p>
    <%= f.label :wms_server %><br />
    <%= f.text_field :wms_server, class: 'long-text' %>
  </p>
  <p>
    <%= f.label :wms_name %><br />
    <%= f.text_field :wms_name %>
  </p>
  <p>
    <%= f.label :wfs %><br />
    <%= f.text_field :wfs %>
  </p>
  <p>
    <%= f.label :meta_download %><br />
    <%= f.text_field :meta_download %>
  </p>

  <p>
    <%= f.label :has_legend %><br />
    <%= f.check_box :has_legend %>
  </p>

  <p>
    <%= f.label :licence %><br />
    <%= collection_select(:dataset, :licence_id, licences, :id, :title, {:prompt => true})%>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
