<h1>Listing datasets</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Short desc</th>
		<th>Meta data</th>
    <th>&nbsp;</th>
  </tr>

<% @datasets.each do |dataset| %>
  <tr>
    <td><%=h dataset.title %></td>
    <td><%=h truncate(dataset.short_desc,30) %></td>
		<td><%= image_tag 'icons/page_white_world.png' if dataset.html.file? %>
				<%= image_tag 'icons/page_white_database.png' if dataset.xml.file? %>
    <td><%= link_to 'Show', [:admin, dataset] %>
    <%= link_to 'Edit', edit_admin_dataset_path(dataset) %>
    <%= link_to 'Destroy', [:admin,dataset], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dataset', new_admin_dataset_path, :class=> "button" %>