<h1>New dataset</h1>

<% form_for([:admin,@dataset]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :short_desc %><br />
    <%= f.text_area :short_desc %>
  </p>
  <p>
    <%= f.label :long_desc %><br />
    <%= f.text_area :long_desc %>
  </p>
  <p>
    <%= f.label :metadata_description %><br />
    <%= f.text_area :metadata_description %>
  </p>
  <p>
    <%= f.label :shp_download %><br />
    <%= f.text_field :shp_download %>
  </p>
  <p>
    <%= f.label :wms %><br />
    <%= f.text_field :wms %>
  </p>
  <p>
    <%= f.label :wfs %><br />
    <%= f.text_field :wfs %>
  </p>
  <p>
    <%= f.label :meta_download %><br />
    <%= f.text_field :meta_download %>
  </p>

  <p>
    <%= f.label :licence %><br />
    <%= collection_select(:dataset, :licence_id, Licence.all(:order => "title ASC"), :id, :title, {:prompt => true})%>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_datasets_path, :class=> "button" %>