<h1>Listing decisions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Order Number</th>
    <th>Short Name</th>
    <th>Short Description</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>

<% @decisions.each do |decision| %>
  <tr>
    <td><%= decision.name %></td>
    <td><%= decision.order_number %></td>
    <td><%= truncate(decision.short_name, lenght: 30) %></td>
    <td><%= truncate(decision.short_desc, lenght: 30) %></td>
    <td><%= truncate(decision.description, lenght: 30) %></td>
    <td><%= link_to 'Show', [:admin, decision] %>
    <%= link_to 'Edit', edit_admin_decision_path(decision) %>
    <%= link_to 'Destroy', [:admin,decision], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New decision', new_admin_decision_path, :class=> "button" %>
