<h3>Ocean Data Viewer Dataset confirmation</h3>

<p>A new user requests access to the <b><%= @user.dataset.title %></b> dataset with the following details:</p>

<ul>
	<li><%=h @user.title %> <%=h @user.first_name %> <%=h @user.last_name %></li>
	<li><%=h @user.email %></li>
	<li><%=h @user.institution %></li>
	<li><%=h @user.intended_use %></li>
</ul>	

<p>The user has accessed the <b><%= @user.dataset.title %></b> dataset and agreed to the licence <b><%= @user.licence.title %></b>.</p>

<p>Request received on <%= Time.now.to_s(:long_ordinal) %>.<p>


--<br>
<p>Ocean Data Viewer</p>
<%= link_to "Portal home", "http://www.unep-wcmc.org" %>
