<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ocean Data Viewer</title>
  <%= stylesheet_link_tag "admin" %>
</head>
<body>
  <div class="container">
    <h1 style="margin-bottom:0.25em; color:white;" class="cufon cufon-canvas">
      <!--<%= link_to image_tag("logo.png"), root_url %><br/> -->
      Ocean Data Viewer
    </h1>

    <div class="inner_container">
      <div class="admin_menu">
        <%= link_to "Datasets", admin_datasets_path %> | <%= link_to "Registered users", admin_customers_path %>   | <%= link_to "Decisions", admin_decisions_path %> | <%= link_to "Data categories", admin_data_categories_path %> | <%= link_to "Carousel Links", admin_site_links_path %>
        <%= yield :menu%>
      </div>
      <div class="content_container">
        <p style="color: green"><%= flash[:notice] %></p>
        <%= yield %>
      </div>
      <div style="clear:both">&nbsp;</div>
    </div>
    <div class="span-24">&nbsp;</div>
    <div class="span-6 prepend-18 quiet">
      UNEP-WCMC 2009 <%= image_tag "wcmc_logo.png"%>
    </div>
  </div>

  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <%= render 'layouts/google_analytics' %>
</body>
</html>
