<!doctype html>
<html lang="en" ng-app="MarineApp">
  <head>
    <meta charset="utf-8">
    <title>Ocean Data Viewer</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <style type="text/css">
      <% Dataset.all.each do |dataset| %>
        li.active.type<%= dataset.id %> .dataset-info {
          /* auto generated */
          border-right-color: <%= dataset.layer_color || '999' %>;
        }
      <% end %>
    </style>

    <% if Rails.env.production? %>
      <!-- Hotjar Tracking Code for ODV - Ocean Data Viewer -->
      <script>
          (function(h,o,t,j,a,r){
              h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
              h._hjSettings={hjid:3261398,hjsv:6};
              a=o.getElementsByTagName('head')[0];
              r=o.createElement('script');r.async=1;
              r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
              a.appendChild(r);
          })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>
    <% end %>
  </head>

  <body class="<%= yield :body_class %>">
    <% if flash[:error].present? %>
      <div id="error_flash">
        <h2>Sorry, there was a problem with your form submission</h2><%= flash[:error] %>
      </div>
    <% end %>
    <div class="banner-background">
      <div class="banner">
        <div class="banner__title">
          <p class="banner__text"> <%= image_tag("triangle-alert.svg", class: "banner__alert") %>  Changes to Ocean Data Viewer </p>
        </div>
        <div class="banner__content">
          <p> UNEP-WCMC are planning to restructure the Ocean Data Viewer platform by the end of 2024. Many of the datasets currently available to download on Ocean Data Viewer will instead be available to visualise and download through the following platforms: <%= link_to "UNEP-WCMC GIS Portal", 'https://data-gis.unep-wcmc.org/portal/home/index.html', class: "banner__content", style: "text-decoration: underline", target: "_blank" %>,
            <%= link_to "UNEP-WCMC Resources page", 'https://resources.unep-wcmc.org/', class: "banner__content", style: "text-decoration: underline", target: "_blank" %>, <%= link_to "UN Biodiversity Lab", 'https://unbiodiversitylab.org/en/', class: "banner__content", style: "text-decoration: underline", target: "_blank" %>  and  <%= link_to "Ocean + Habitats", 'https://habitats.oceanplus.org/', class: "banner__content", style: "text-decoration: underline", target: "_blank" %>.<br>
              We would love your feedback on this proposed restructure in the <strong>survey pop-up below</strong>.</p>
        </div>
      </div>
    </div>
    <header>
      <div class="logo"></div>
      <h1><a href="/">Ocean Data Viewer</a></h1>
      <%= link_to "About the site", about_path %>
    </header>

    <div class="map">
      <map base-layer="Oceans"></map>

      <div class="datasets">
        <%= yield :map_controls %>
      </div>
    </div> <!-- map -->

    <%= yield :map %>

    <%= yield %>

    <footer>
      <%= link_to image_tag('proteus_sm.gif'), "http://www.proteuspartners.org/?page_id=100" %>&nbsp;&nbsp;&nbsp;
      <a href="http://www.unep-wcmc.org/" target="_blank" class="wcmc_unep"></a>
      <div class="reserved">
        <p>All rights reserved.</p>
        <p>UNEP</p>
        <p><a class="terms" href="http://www.unep-wcmc.org/terms-and-conditions">Terms and Conditions</a></p>
      </div>
      <div class="disclaimer">
        <p>The designations employed and the presentation of material on this
          map do not imply the expression of any opinion whatsoever on the part
          of the Secretariat of the United Nations concerning the legal status of
          any country, territory, city or area or of its authorities, or concerning
          the delimitation of its frontiers or boundaries.
        </p>
      </div>
    </footer>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= render 'layouts/google_analytics' %>
  </body>
</html>
