<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MarineApp">
    <head lang="en" xml:lang="en">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Ocean Data Viewer</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application' %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    </head>

    <body>
        <% if flash[:error].present? %>
          <div id="error_flash">
            <h2>Sorry, there was a problem with your form submission</h2><%= flash[:error] %>
          </div>
        <% end %>
        <header>
            <%= image_tag asset_path 'logo.svg', class: 'logo' %>
            <h1><a href="/">Ocean Data Viewer</a></h1>
            <%= link_to "About the site", about_path %>
        </header>

        <div class="map">
            <map base-layer="Topographic"></map>

            <div class="datasets">
                <%= yield :map_controls %>
            </div> <!-- down_databases_info -->
        </div> <!-- map -->

        <%= yield :map %>
        <div id="outer_layout" class="group">
            <div id="layout">
                <%= yield %>
            </div> <!-- layout -->
        </div> <!-- outer_layout -->

        <footer>
            <%= link_to image_tag('proteus_sm.gif'), "http://www.proteuspartners.org/?page_id=100" %>&nbsp;&nbsp;&nbsp;
            <%= link_to image_tag('defra_sm.gif'), "http://ww2.defra.gov.uk/" %>
            <a href="http://www.unep-wcmc.org/" target="_blank" class="wcmc_unep"></a>
            <div class="reserved">
                <p>All rights reserved.</p>
                <p>UNEP-WCMC</p>
            </div>
        </footer>
    </body>
</html>
