<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head lang="en" xml:lang="en"> 
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <title>Ocean Data Viewer</title> 
        <meta name="description" content=""> 
        <meta name="keywords" content=""> 

        <%= stylesheet_link_tag 'tipsy','facebox', 'marine', 'layout', 'jScrollPane.css' %>

        
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <%= javascript_include_tag 'OpenLayers', 'facebox', 'ie', 'jquery.textshadow.js', 'jquery.mousewheel.min.js', 'jquery.em.js', 'jScrollPane.js', 'application' %>
    </head>

    <body>
        <div class="error_flash"><%= flash[:error] %></div>
	<div id ="content_header">

            <div class="map">			
                <div id="js_map">				
                </div>
            </div>

            <div id="layout_header">				
                <div id="header">
                    <div class="content_left">
                        <h1><a href="/">Ocean data for decision makers</a></h1>
                        <ul class="menu">
                                <li class="actual"><%= link_to "EXPLORE THE DATA", datasets_path %></li>
                                <li class="actual"><%= link_to "ABOUT", about_path %></li>
                                <li class="actual"><%= link_to "CONTACT", contact_path %></li>
                                <li class="actual"><%= link_to "BUSINESS", business_path %></li>
                        </ul>
                    </div>
                    <div class="content_right">
                        <ul class="info">
                                
                            <li class="datasets">
                                <span class="icon"></span>							
                                <p class="amount"><%= @dataset_count %></p>
                                <p class="title">DATASETS</p>
                            </li>						
                            <li class="split"></li>
                            <li class="downloads">
                                <span class="icon"></span>
                                <p class="amount"><%= Customer.count %></p>
                                <p class="title">DOWNLOADS</p>
                            </li>					
                        </ul>
                            
                    </div>
                </div> <!-- header -->
                <div id="down_databases_info">
                    <%= yield :map_controls %>
                    <span id="bottom_scrollable_databases"></span>			
                </div> <!-- down_databases_info -->

                <div id="zoom_buttons">
                    <a id="zoomIn"></a>
                    <a id="zoomOut"></a>
                </div>
            </div> <!-- layout_header -->
	</div> <!-- content_header -->

        <%= yield :map%>
 	<div id="outer_layout">	
		<div id="layout">	
			
                  <%= yield %>
			
			<div id="footer_supportsites">
				<div class="content_left">
					<p>Other Marine Assesment and Decission support Sites</p>
				</div>
				<div class="content_right">
					<a class="left"></a>
					<a class="right"></a>					
					<ul>
						<li>
                                                    <a class="site_support" href="#">WDPA Marine</a>
                                                    <p>The World Database on Protected Areas Marine is a foundation dataset for conservation decision making.</p>
                                                    <p>The UNEP-WCMC Protected Areas Data Unit was set up in 1981 to compile information on the world’s protected areas, and to be a resource for those requiring such information.</p>
						</li>
						<li class="last">
                                                    <a class="site_support" href="#">Coral disease database</a>
                                                    <p>The first version of the GCDD was launched in 2000 and was populated with some 2000 points of data from 155 references, mostly peer reviewed scientific literature. more.</p>
						</li>
					</ul>
				</div> <!-- content_right -->
			</div>  <!-- footer_supportsites -->
			<div id="footer" class="datasets">
				<a href="http://www.unep-wcmc.org/" target="_blank" class="wcmc_unep"></a>
				<div class="reserved">
					<p>All rights reserved.</p>
					<p>UNEP-WCMC</p> 
				</div>	
			</div> <!-- footer -->			
		</div> <!-- layout -->
	</div> <!-- outer_layout -->
        <!--
        <div class="container">
          <h1 style="margin-bottom:0.25em; color:white;" class="cufon cufon-canvas">
            Ocean Data Viewer
          </h1>
                
                <div class="inner_container">
                        <div class="content_container">
                                <p style="color: green"><%= flash[:notice] %></p>
                        </div>
                        <div style="clear:both">&nbsp;</div>
                </div>
                <div class="span-24">&nbsp;</div>
                <div class="span-6 prepend-18 quiet">
                                        UNEP-WCMC 2009 <%= image_tag 'wcmc_logo.png'%>
                </div>
        </div>
        -->
    </body>
</html>
